.container{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display:flex;
    flex-direction: column;
    /* to keep width intact */
     flex-wrap: wrap; 
    /* center mai table aa jayega */
    justify-content:center;
    align-items:center;
    gap: 10px;
    align-content: space-between;
    align-content: space-around;

}

.a{
    border: 1px solid red;
    background-color: aqua;
    width: 100px;
     flex-grow: 1; 
     align-self: stretch;

}
