*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-pink{
    background-color:red;
    padding: 0.8rem 2.3rem;
    color: chartreuse;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #000003;
    position:relative;
    z-index: 1;
}
.btn-pink::before{
    content:"";
    background-color: #000003;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
    z-index: -1;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}